
div.square {
	width: 80px;
	height: 80px;
	margin: 30px auto;
	background-color: #aabb39;
	animation-name: spin;
	-moz-transition: background-color 0.8s 0.1s ease;
	-o-transition: background-color 0.8s 0.1s ease;
	-webkit-transition: background-color 0.8s 0.1s ease;
	}

@keyframes spin{
	0%{
	transform: rotate (0 deg);
	}
	100%{
	transform: rotate (360 deg);
	}
}
